body {
    background: url(Benin.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto auto auto;
    display: grid;
    grid-template-areas: 
    "hdr hdr"
    "sdb man"
    "yel yel"
    "sec sec"
    ;
}

header{
    grid-area: hdr;
}
#nav_head img {
    border: solid #ffd700;
    background-color: #ffa500;
}

#nav_head {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid rgb(255, 255, 255);
}

#nav_head .logo {
    padding: 22px 20px;
    height: 30px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

#nav_head ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

#nav_head ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#nav_head ul li a:hover {
    background: #ffff76;
    border-radius: 6%;
    font-size: large;
    color: #000000;
}

.logo {
    color: #ffff00;
    text-shadow: -2px -2px 4px red;
}



.navbar ul {
    list-style: none;
}

#sidebarA {
    margin-left: .1em;
    margin-top: 0px;
    border-right: 5px solid hsl(0, 0%, 0%);
    color: #f5f5dc;
    background-color: rgba(0, 0, 0,0.6);
    grid-area: sdb;
}

* {
    margin: 0;
    padding: 0;
}

#nav_list ul {
    padding-top: 50px;
    list-style-type: none;
    margin-left: 1.25em;
    margin-bottom: 1.5em;
}

#nav_list ul li {
    width: 200px;
    margin-bottom: .5em;
    border: 2px solid #ffd700;
}

#nav_list ul li a {
    display: block;
    padding: .5em 0 .5em 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: #ffd700;
}

#nav_list ul li a.current {
    background-color: #ff0000;
}

#nav_list ul li a:hover {
    background: #ffff76;
    border-radius: 6px;
    font-size: large;
    color: #000000;
}

main {
    font-size: large;
    margin: 2em 4em;
    grid-area: man;
    color: gold;
    background-color: rgba(0, 0, 0,0.8);
}

main h2, main p {
     margin: 1em 2em;
}

section {
    background-color: beige;
    grid-area: sec;
}

section h2, section p {
  color: #000000;
  margin: 2em 4em;
}

div.yellow_bar {
    grid-area: yel;
    height: 4em;
    background-color: orange;
}

.adinkra {
    display: block;
    margin-left: auto;
    margin-right: auto;
}