body {
    background: url(Benin_Byzantium.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "hdr hdr"
    "sdb man"
    "ftr ftr"
    ;
}

header {
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0,0.6);
    color: #f5f5dc;
    grid-area: hdr;
}

header img {
    float: left;
    border: solid #ffd700;
    margin-left: 1%;
    padding: 0px;
    box-shadow: 3px;
    background-color: #ffa500;
}

header h2 {
    padding-left: 8%;
    color: #ffd700;
}

header h3 {
    padding-bottom: 7%;
    padding-left: 10%;
    font-size: 10;
}

#sidebarA {
    width:250px;
    height: 640px;
    margin-left: .1em;
    margin-top: 0px;
    float: left;
    border-right: 5px solid hsl(0, 0%, 0%);
    color: #f5f5dc;
    background-color: rgba(0, 0, 0,0.6);
    grid-area: sdb;
}

* {
    margin: 0;
    padding: 0;
}

#nav_list ul {
    padding-top: 50px;
    list-style-type: none;
    margin-left: 1.25em;
    margin-bottom: 1.5em;
}

#nav_list ul li {
    width: 200px;
    margin-bottom: .5em;
    border: 2px solid #ffd700;
}

#nav_list ul li a {
    display: block;
    padding: .5em 0 .5em 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: #ffd700;
}

#nav_list ul li a.current {
    background-color: #ff0000;
}

#nav_list ul li a:hover {
    background: #ffff76;
    border-radius: 6px;
    font-size: large;
    color: #000000;
}

main {
    margin-top: 100px;
    font-size: large;
    text-align: center;
    grid-area: man;
}

.menu li {
    display: inline-block;
    margin-top: 50px;
    margin-left: 1.25em;
    margin-bottom: 1.5em;
    text-align: center;
    background-color: rgba(0, 0, 0,0.6);
    border-radius: 15px;
}

.menu li a {
    display: block;
    padding: .5em 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: #ffd700;
    
}


footer {
    clear: left;
    grid-area: ftr;
}