/*This CSS is to format all of the pictures within the section part of each subpage*/

/*The Songhai subpage*/
section #sonni {
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    border-style: solid;
    width: 50%;
}

/*The Benin/Oyo subpages*/
main img, section #Current_Oba, section #bronze  {
    float: right;
    border: solid;
    color: #000000;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
}

/*The Ashanti subpage*/
section #First_Image {
    float: left;
    margin-right: 1%;
    margin-bottom: .5%;
    border: solid;
}


/*The Oyo subpage*/

section #bronze {
    float: right;
    border: solid;
    color: #000000;

}

@media only screen and (max-width: 787.200px) {

    section #sonni, section #bronze, main img, section #Current_Oba, section #bronze {
        float: left;   
    }
    }